* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
:root {
  /* Color variable */
  --bg-color: #000000;
  --primary-text-color: #ffffff;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --delete-button-color: #ff0000;

  /* Padding variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* border radius variables */
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 25px;
}
body {
  background: var(--bg-color);
  color: var(--primary-text-color);
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  padding: var(--nav-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--bg-color);;
}
nav #logo{
  font-size: 25px;
  font-weight: bold;
}
nav button {
  background: var(--bg-button-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius-m);
  animation: heartbeat 1s ease-in-out infinite;
}

section {
  flex-grow: 1;
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  background: rgb(22, 22, 22);
  gap: var(--padding-xxl);
}
section .task-column {
  background: rgb(100, 99, 99);
  flex: 1 1 0;
  min-width: 0;
  padding: var(--padding-l);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  border-radius: var(--border-radius-m);
}

section .task-column.hover-over {
  border: 2px solid rgb(19, 99, 141);
  scale: 1.02;
  box-shadow: 0 10px 40px rgb(19, 99, 141);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
section .task-column .heading #left-todo{
  padding: var(--border-radius-m);
  background: red;
  border-radius: var(--border-radius-s);
  font-weight: bold;

}
section .task-column .heading #left-in-progress{
  padding: var(--border-radius-m);
  background: rgb(198, 186, 9);
  border-radius: var(--border-radius-s);
  font-weight: bold;


}
section .task-column .heading #left-done{
  padding: var(--border-radius-m);
  background: rgb(24, 213, 10);
  border-radius: var(--border-radius-s);
  font-weight: bold;


}

section .task-column .task {
  background: var(--bg-task-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  cursor: grab;
  overflow-wrap: break-word
}
section .task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-s) var(--padding-m);
  background: var(--delete-button-color);
  outline: none;
  border: none;
  border-radius: var(--border-radius-s);
}

.modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.active{
  display: flex;
}
.modal .bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #7b7b7b2c;
  backdrop-filter: blur(7px);
}
.modal .center{
  background: #323232;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-m);
  gap: var(--padding-m);
  z-index: 10;
  
}
.modal .center input, .modal .center textarea, .modal .center select {
  background-color: rgb(1, 1, 1);
  border: none;
  outline: none;
  color: #ffffff;
  padding: var(--padding-m);
  border-radius: var(--border-radius-s);
}
.modal .center textarea{
  height: 70px;
}

.modal .center button{
  align-self: center;
  outline: none;
  border: none;
  padding: var(--padding-m );
  border-radius: var(--border-radius-s);
  background:#1f1f1f;
  color: #ffffff;
  cursor: pointer;
}
.modal .center button:hover{
  background: #ffffff;
  color: #000;
}

@keyframes heartbeat {
  /* 0%, 100% { transform: scale(1); } */
  30%, 55% { transform: scale(1.2); }
  55%, 75% { transform: scale(1); }
  75%, 95% { transform: scale(1.2); }
}

























